<div data-role="page" id="page1">

	<div data-theme="d" data-role="header">
		<a data-ajax="false" data-role="button" data-transition="fade" data-theme="c" href="/">&laquo; Home</a>
		<h3><a id="permalink" data-ajax="false" href="/edit/<%= @icon.id %>">permalink</a>

		| 

		<span class="social">

			<a href="http://twitter.com/share?text=Balloon exploding at 26km"><img src="http://unterbahn.com/wp-content/themes/mapcraft/images/twitter.png" /></a>

			<g:plusone></g:plusone>
			<script src="https://apis.google.com/js/plusone.js"></script>

			<!--<a name="fb_share" type="button_count" share_url="http://pxlshp.irateship.com/edit/<%= @icon.id %>" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script> --> 

		</span>
		</h3>

	</div>

	<p id="notice"></p>
	<p id="error"></p>

	<div data-role="content" style="padding: 15px; text-align:center;">

		<canvas id="canvas"></canvas>

		<a data-ajax="false" data-role="button" data-theme="b" href="javascript:void()" onTouchEnd="$P.save()" onClick="$P.save();">Save</a>
	</div>
</div>

<script src="/javascripts/edit.js"> </script>

<script> 
(function () { 

	$P.initialize({
		<% if @icon %>
		image_data: "<%= @icon.image_data %>",
		icon_id: <%= @icon.id %>
		<% else %>
		type: "bw8",
		hash: "<%= params[:hash] %>"
		<% end %>
	})

})() </script>
