<div data-role="page" id="page1">

	<div data-theme="d" data-role="header">
		<a id="home" data-ajax="false" data-role="button" data-theme="c" href="/">&laquo; Home</a>
		<a style="float:right;" id="new" data-ajax="false" data-role="button" data-theme="b" href="/new">New +</a>
		<h3>
		<% if @word %><a href="javascript:void(0)" id="word" onClick="$('#word').hide()"><%= @word %> (click to hide)</a> 
		<% elsif @icon.id %>
		<a id="permalink" data-ajax="false" href="/edit/<%= @icon.id %>">permalink</a>

		| 

		<span class="social">

			<div class="fb-like" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>

			<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</span>
		<% end %>
		</h3>

	</div>

	<p id="notice"></p>
	<p id="error"></p>

	<div data-role="content" style="padding: 15px; text-align:center;">

		<canvas id="canvas"></canvas>

		<a data-ajax="false" data-role="button" data-theme="b" id="save">Save<a/>
	</div>
</div>

<script src="/javascripts/edit.js"> </script>

<script> 
(function () { 

	$P.initialize({
		<% if @icon %>
		image_data: "<%= @icon.image_data %>",
		icon_id: <%= @icon.id || 0 %>
		<% else %>
		type: "bw8",
		hash: "<%= params[:hash] %>"
		<% end %>
	})

//	$('#save').live('click',function(){ $P.save() })
	$('#save').live('tap',function(){ $P.save() })
	$('#home').live('tap',function(){ window.location = "http://pxlshp.com" })

})() </script>
